div.outerClass {
    text-align: center;
    margin: auto;
    height: 100%;
    width: 100%;
}

div.uploaderClass {
    margin: auto;
    position: absolute;
    top: 23%;
    left: 45%;
}

div.submitClass {
    margin: auto;
    position: absolute;
    top: 60%;
    left: 36.5%
}