.uploaderClass {
    margin: auto;
    position: relative;
    top: 100px;
}

.submitClass {
    margin: auto;
    position: relative;
    top: 250px;
}

.reset {
    margin: auto;
    position: relative;
    top: 250px;
}