<!DOCTYPE html>

<div [hidden]="uploadSucceds || userIsAnonymous || userEmailEmpty" style="text-align: center">
  <h2>
    Choose an image to upload
  </h2>


  <div class="uploaderClass">
    <section>
      <button md-fab color="primary" (click)="triggerUploadButton()">
        <md-icon aria-label="File upload icon">file_upload</md-icon>
      </button>
      <input type="file" id="uploadImage" (change)="fileEvent($event)" accept="image/png|image/gif|image/jpg" style="display:none"/>
    </section>
    <section>
      <md-input-container>
        <input mdInput [placeholder]="imageName" disabled/>
      </md-input-container>
    </section>
    <section>
      <md-checkbox color="primary" [(ngModel)]="isBoard">Board image</md-checkbox>
    </section>
    <font *ngIf="type != 'gif' && type != 'png' && type != 'jpg'" color="red">
      Accepted image type: .gif, .png, .jpg.
    </font>
  </div>
  
  <div class="submitClass">
    <section>
      <md-checkbox color="warn" [(ngModel)]="certified">I certify that I have the rights to use this image in an open source project</md-checkbox>
    </section>
    <button md-raised-button [disabled]="!selectedFiles || !certified || height < 10 || height > 1024 ||
        type != 'gif' && type != 'png' && type != 'jpg'" (click)="uploadImage()">Submit</button>
  </div>

</div>

<div class="reset"  [hidden]="!uploadSucceds || userIsAnonymous || userEmailEmpty" style="text-align:center">
  <h2>
    Image uploaded
  </h2>
  <button md-raised-button (click)="reset()">Reset</button>
</div>


<div [hidden]="!userIsAnonymous" style="text-align:center">
    Please login with Google, phone, or email to use this function.
</div>


<div [hidden]="!userEmailEmpty || userIsAnonymous" style="text-align:center">
  E-mail required to proceed. Please add your E-mail in "Profile Settings" to use this function.
</div>
