<div [hidden]="blocked" style="text-align: center">
  <md-horizontal-stepper [linear]="isLinear">
    <md-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template mdStepLabel>Select a spec</ng-template>
          <div *ngIf="selected">Selected {{selectedBoard['name']}}</div>
        <div id="board-selector">
					<app-spec-selector #child
					(onSpecSelected)="onSpecSelected($event)"
          (onBoardSelected)="onBoardSelected($event)"
          (onPiecesSelected)="onPiecesSelected($event)"
          (onDeckSelected)="onDeckSelected($event)">
					</app-spec-selector>
        </div>
        <div id="nav-button">
          <button md-button mdStepperNext (click)="firstWarning()">Next</button>
        </div>
      </form>
    </md-step>
    <md-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template mdStepLabel>View game spec</ng-template>
        <div id="build-container">
          <app-view-spec #child
          [selectedBoard]=getSelectedBoard()
          [selectedSpec]=getSelectedSpec()
          [pieces]=getPieces()
          [deckSet]=getDeckSet()
          (onPiecesSet)="onPiecesSet($event)">
          </app-view-spec>
        </div>
        <div id="nav-button">
          <button md-button mdStepperPrevious (click)="child.reset()">Back</button>
          <!-- <button md-button mdStepperPrevious (click)="child.reset()">Back</button> -->
					<!-- <button md-button mdStepperPrevious>Back</button> -->
          <!-- <button md-button mdStepperNext (click)="toFinalStage()">Next</button> -->
          <!-- <button md-button mdStepperNext (click)="secondWarning()">Next</button> -->
          <button md-button (click)="child.shuffle()">Shuffle</button>
        </div>
      </form>
    </md-step>
    <!-- <md-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup">
        <ng-template mdStepLabel>Upload spec</ng-template>
          <app-upload-spec
            [selectedBoard]=getSelectedBoard()
            [piecesMap]=getPieces()
						[piecesSet]=getPiecesSet()
						[info]=getInfo()>
						
          </app-upload-spec>
        <div id="nav-button">
          <button md-button mdStepperPrevious>Back</button>
        </div>
      </form>
    </md-step> -->
  </md-horizontal-stepper>
</div>


<div [hidden]="!blocked" style="text-align:center">
    Please login with Google, phone, or email to use this function.
</div>
