<!DOCTYPE html>

<div>
  <!-- Static navbar -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="javascript:void(0)" (click)="home()">GameBuilder</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="javascript:void(0)" (click)="uploadImage()">Image Uploader</a></li>
          <li><a href="javascript:void(0)" (click)="createElement()">Create Element</a></li>
          <li><a href="javascript:void(0)" (click)="build()">Spec Builder</a></li>
          <li><a href="javascript:void(0)" (click)="editSpec()">Spec Editor</a></li>
          <li><a href="javascript:void(0)" (click)="viewSpec()">Spec Viewer</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li dropdown placement="bottom right" *ngIf="!(user | async)?.uid">
          	<a id="login" dropdownToggle type="button" href="javascript:void(0)">Login<span class="caret"></span></a>
          	<ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
            <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)" (click)="loginWithGoogle()">Google</a></li>
            	<li role="menuitem"><a class="dropdown-item" href="javascript:void(0)" (click)="loginWithEmail()">E-mail</a></li>
            	<li role="menuitem"><a class="dropdown-item" href="javascript:void(0)" (click)="loginWithPhoneNumber()">Phone</a></li>
            	<li role="menuitem"><a class="dropdown-item" href="javascript:void(0)" (click)="loginAnonymously()">Anonymous</a></li>
          	</ul>
		    	</li>
        	<li id="logout" *ngIf="(user | async)?.uid"><a href="javascript:void(0)" (click)="logout()">Logout</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </nav>
</div>
  
<router-outlet></router-outlet>
