<!DOCTYPE html>

<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>

  <button (click)="loginWithGoogle()" *ngIf="!(user | async)?.uid">Login with Google</button>

  <button (click)="logout()" *ngIf="(user | async)?.uid">Logout</button>

  <button (click)="loginWithPhoneNumber()" *ngIf="!(user | async)?.uid">Login with Phone Number</button>

  <button (click)="loginWithEmail()" *ngIf="!(user | async)?.uid">Login with Email</button>
  
  <button (click)="loginAnonymously()" *ngIf="!(user | async)?.uid">Login Anonymously</button>
  
  <button (click)="uploadImage()" *ngIf="(user | async)?.uid">Upload Image</button>
  
  <router-outlet></router-outlet>

</div>