<!DOCTYPE html>

<div [hidden]="user">

    <h2>Login with Phone Number</h2>
    
    <h3 *ngIf="!user && !showPhoneLogin">Please enter your email to continue</h3>
    <input type="text" *ngIf="!showPhoneLogin" [(ngModel)]="email" class="input" maxlength="30">
    <input type="text" *ngIf="showPhoneLogin" [(ngModel)]="email" disabled>
    <button *ngIf="!showPhoneLogin" (click)="validateEmail()">Continue to Phone Login</button>

    <div id="recaptcha-container"></div>

    <div *ngIf="!user && showPhoneLogin">
        <label for="phone">Phone Number</label><br>
        <input type="text" [(ngModel)]="phoneNumber.country" class="input" placeholder="1" maxlength="2">
        <input type="text" [(ngModel)]="phoneNumber.area" class="input" placeholder="555" maxlength="3">
        <input type="text" [(ngModel)]="phoneNumber.prefix" class="input" placeholder="555" maxlength="3">
        <input type="text" [(ngModel)]="phoneNumber.line" class="input" placeholder="5555" maxlength="4">

        <button (click)="sendLoginCode()">Send Verification Code</button>

        <div *ngIf="windowRef.confirmationResult">
            <label for="code">Enter your verification code here</label><br>
            <input type="text" name="code" [(ngModel)]="verificationCode" class="input">
            <button (click)="verifyLoginCode()">Verify</button>
        </div>
    </div>

</div>

<div *ngIf="user">
    You have successfully logged in with your phone number.
    UserId: {{ user?.uid }}
</div>