
<form id="user-input" *ngIf="selectedSpec">
	<input type="text" id="gameName" value="{{selectedSpec['gameName']}}" ngRequired>
	<input type="text" id="wikiURL" value="{{selectedSpec['wikipediaUrl']}}">
	<input type="text" id="youtubeURL" value="{{selectedSpec['tutorialYoutubeVideo']}}">
	<input type="submit" value="Generate Spec" (click)="isValid() && createGameSpec()">
</form>

<form id="user-input" *ngIf="!selectedSpec">
	<input type="text" id="gameName" placeholder="Enter your game name" ngRequired>
	<input type="text" id="wikiURL" placeholder="Link to game wiki">
	<input type="text" id="youtubeURL" placeholder="Link to youtube tutorial">
	<input type="submit" value="Generate Spec" (click)="isValid() && createGameSpec()">
</form>

<div *ngIf="generated">
	<div *ngIf="!selectedSpec">
		<pre style="text-align: left">{{ gameSpec | json }}</pre>
		<button (click)=uploadGameSpec()>Upload Spec</button>
	</div>
	<div *ngIf="selectedSpec">
		<pre style="text-align: left">{{ gameSpec | json }}</pre>
		<button (click)=updateGameSpec()>Update Spec</button>
	</div>
</div>