<div id="piece-selector">
	<md-grid-list cols="2" rowHeight="75px">
	  <md-grid-tile
	      *ngFor="let image of images | async; let i = index;"
	      	[colspan]="1"
	      	[rowspan]="1">
	      	<img id="piece-{{i}}" class="piece-image" src="{{image.downloadURL}}" alt="{{image.$key}}"/>
		    <div class="overlay">
		      	<div class="overlay-text">
		      		{{image.name}}
		      	</div>
		    </div>
	  </md-grid-tile>
	</md-grid-list>
</div>


<div id="board-container">
	<img id="board" src="{{selectedBoard['url']}}">
	<div id="board-overlay"></div>
</div>

<div class="clear"></div>



