
<div>
	<!-- fix formatting of filter here -->
  <div>
	  <md-select placeholder="Filter elements" [(ngModel)]="currentFilter" name="opt" (ngModelChange)="onChange($event)">
	    <md-option *ngFor="let opt of options" [value]="opt.value">
	      {{ opt.viewValue }}
	    </md-option>
	  </md-select>
  </div>
	<div id="piece-selector">
		<md-grid-list cols="2" rowHeight="75px">
		  <md-grid-tile
		      *ngFor="let element of elements | async; let i = index;"
		      	[colspan]="1"
		      	[rowspan]="1">
		      	<img id="piece-{{i}}" class="piece-image" src="{{imageData['element.images[0].imageId']?.downloadURL}}"alt="{{element.$key}}"/>
			    <div class="overlay">
			      	<div class="overlay-text">
			      		{{imageData['element.images[0].imageID']?.name}}
			      	</div>
			    </div>
		  </md-grid-tile>
		</md-grid-list>
	</div>
</div>



<div id="board-container">
	<img id="board" src="{{selectedBoard['url']}}">
	<div id="board-overlay"></div>
</div>

<div class="clear"></div>

